<section class="bg-gray-100 pb-10">
  <owl-carousel-o [options]="mainSliderCustomOptions">
    <ng-template carouselSlide>
      <div class="image">
        <img class="w-full h-100" src="/assets/images/img1.avif" alt="" />
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="image">
        <img class="w-full h-100" src="/assets/images/img2.avif" alt="" />
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="image">
        <img class="w-full h-100" src="/assets/images/img3.avif" alt="" />
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="image">
        <img class="w-full h-100" src="/assets/images/img4.avif" alt="" />
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="image">
        <img class="w-full h-100" src="/assets/images/img5.avif" alt="" />
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="image">
        <img class="w-full h-100" src="/assets/images/img6.avif" alt="" />
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="image">
        <img class="w-full h-100" src="/assets/images/img7.avif" alt="" />
      </div>
    </ng-template>
  </owl-carousel-o>
</section>
