<section
  class="border border-gray-200 shadow-xs rounded bg-gray-200 md:w-1/2 mx-auto p-4 px-6 mt-16"
>
  <div class="titel py-4">
    <h2 class="mb-3 text-green-600 font-medium text-3xl text-center">Forget Password</h2>
  </div>

  <form [formGroup]="forgetPasswordForm" (ngSubmit)="confirmEmail()">
    <div class="mb-2">
      <label for="email" class="main-label">Email</label>
      <input
        formControlName="email"
        type="email"
        autocomplete="off"
        id="email"
        class="main-input"
        placeholder=""
      />

      @if (forgetPasswordForm.get('email')?.errors && forgetPasswordForm.get('email')?.touched) {
        <div
          class="flex p-4 mt-0.75 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
          role="alert"
        >
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-1 list-disc list-outside space-y-1 ps-2.5">
              @if (forgetPasswordForm.get('email')?.getError('required')) {
                <li>input Is Required</li>
              } @else if (forgetPasswordForm.get('email')?.getError('email')) {
                <li>Must be Contain @ ...</li>
              }
            </ul>
          </div>
        </div>
      }
    </div>

    <div class="flex flex-wrap justify-end items-center my-2">
      <button class="btn-main px-3">Confirm Email</button>
    </div>
  </form>
</section>
