/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@font-face {
  font-family: 'Myfont';
  src: url(/assets/fonts/Oswald-VariableFont_wght.ttf);
}

@utility container {
  margin: 0 auto;
}

body {
  font-family: 'Myfont';
}

@layer components {
  .btn-main {
    @apply bg-green-600 py-1.75 px-5 border border-gray-300 rounded-[5px] text-white cursor-pointer disabled:cursor-not-allowed disabled:bg-gray-300 disabled:hover:bg-gray-300 hover:bg-green-700 transition-[background-color] duration-500;
  }

  .card {
    @apply border border-gray-300 shadow rounded;
  }

  .main-input {
    @apply bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded focus:ring-green-600/50 focus:border-green-600 block w-full px-3 py-2.5 shadow-xs;
  }
  .main-label {
    @apply block mb-1.5 text-sm font-medium text-heading;
  }
}
